<div class="table bg-info">
  <h1 class="mb-4 text-center">Таблица: Студенты</h1>

  <% unless @students.blank?  %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
        <tr>
          <th class="text-center align-middle">Фамилия</th>
          <th class="text-center align-middle">Имя</th>
          <th class="text-center align-middle">Отчество</th>
          <th class="text-center align-middle">Пол</th>
          <th class="text-center align-middle">Дата рождения</th>
          <th class="text-center align-middle">Есть дети</th>
          <th class="text-center align-middle">Сумма стипендии</th>
          <th class="text-center align-middle">Группа</th>
          <th class="text-center align-middle">Факультет</th>
        </tr>
        </thead>
        <tbody>
        <% @students.each do |student| %>
          <tr>
            <td class="text-center align-middle"><%= student.last_name %></td>
            <td class="text-center align-middle"><%= student.first_name %></td>
            <td class="text-center align-middle"><%= student.patronymic || '' %></td>
            <td class="text-center align-middle"><%= student.gender == 'male' ? 'Мужской' : 'Женский' %></td>
            <td class="text-center align-middle"><%= student.birth_date.present? ? student.birth_date.strftime("%d-%m-%Y") : '—' %></td>
            <td class="text-center align-middle"><%= student.has_children ? 'Да' : 'Нет' %></td>
            <td class="text-center align-middle"><%= student.scholarship_amount.present? ? number_to_currency(student.scholarship_amount, unit: "₽", format: "%n %u") : '—' %></td>
            <td class="text-center align-middle"><%= student.group&.name || '—' %></td>
            <td class="text-center align-middle"><%= student.faculty&.name || '—' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <p class="text-end fw-bold">Общее количество студентов: <%= @students.count %></p>
  <% else %>
    <p class="mt-5 text-center fw-bold">Записи не найдены</p>
  <% end %>
</div>
